@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap");
@import "./theme";
// @import "./mixins";

:root {
  @include theme-light;

}
body {
  background-color: #0a0c11;
  cursor: url('../assets/svg/small-mouse.svg'),auto;
  background-image: url("./images/stars-bg.png");
  background-position: top;
  background-size: cover;
}



* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #fafafa;
}
