@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap");
@import "./theme";

:root {
  @include theme-light;
}

@font-face {
  font-family: "Craftwork-Grotesk";
  src: url("./fonts/craftwork-grotesk-cufonfonts-webfont/CraftworkGrotesk-SemiBold.woff");
}

body {
  background-color: #0a0c11;
  cursor: url("../assets/svg/cursor.svg"), auto;
  background-image: url("./images/stars-bg.png");
  background-position: top;
  background-size: cover;
}

body * {
  padding: 0;
  margin: 0;
  font-family: "Craftwork-Grotesk";
  color: #fafafa;
}
