.main {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: max-content;

  @media (max-width: 610px) {
    flex-direction: column;
    height: 100vh;
  }
  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: scroll;
    width: 85%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    @media (max-width: 610px) {
      height: 85vh;
      width: 100%;
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }

  .section {
    scroll-snap-align: start;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (max-width: 610px) {
      min-height: 85vh;
      flex-direction: row;
    }
    @media (max-height: 670px) {
      min-height: 76vh;
      flex-direction: row;
    }
  }

  .rerr {
    width: 100%;
  }
}
