.main {
  display: flex;
  flex-direction: column;

  .header {
    padding: 0rem 9%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../assets/images/MacBook\ Air\ -\ 4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .title {
      transform: translate(0, 100px);
      h1 {
        font-style: normal;
        font-size: 48px;
        text-shadow: 7px 4px 220px var(--heder-text-shadow);
      }
      p {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 0.02em;
        color: var(--gray-text);
        text-shadow: 7px 4px 220px var(--heder-text-shadow);
        width: 50%;
      }
    }
  }
}
